<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.agiledev.hr.mapper.UserMapper">
	<select id="selectList" parameterType="map" resultType="com.isoftstone.agiledev.actions.system.user.User">
		SELECT * FROM T_USER
		<if test="sort != null">
			ORDER BY #{orderBy}
		</if>
		LIMIT #{limit} , #{offset}
	</select>
</mapper>
