<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../resources/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../resources/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../resources/agiledev/style/agiledev.css">
<link rel="stylesheet" type="text/css" href="../resources/agiledev/style/agiledev-crud.css">
<link rel="stylesheet" type="text/css" href="../resources/agiledev/style/agiledev-form.css">
<link rel="stylesheet" type="text/css" href="../resources/agiledev/plupload/css/plupload.queue.css">


<script type="text/javascript" src="../resources/easyui/jquery-1.6.min.js"></script>
<script type="text/javascript" src="../resources/agiledev/i18n/en_US.js"></script>
<script type="text/javascript" src="../resources/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../resources/easyui/locale/easyui-lang-en.js"></script>
<script type="text/javascript" src="../resources/easyui/jquery.easyui.validation.custom.js"></script>
<script type="text/javascript" src="../resources/agiledev/jquery.ui.core.js"></script>
<script type="text/javascript" src="../resources/agiledev/jquery.ui.widget.js"></script>
<script type="text/javascript" src="../resources/agiledev/upload.js"></script>
<script type="text/javascript" src="../resources/agiledev/form.js"></script>
<script type="text/javascript" src="../resources/agiledev/crud.js"></script>
<script>
$(function(){
	
	$("#list").crud({
		//formInitUrl:'init.do',
		saveUrl:'create.do',
		updateUrl:'update.do',
		removeUrl:'remove.do',
		fields:[
	        {
	        	title:'',
				checkbox:true,
				field:'id',
				frozen:true
	        },
			{
				title: 'name',
				width:130,
				field: 'name',
				frozen: false,
				sortable: true
			},
			{
				title: 'pwd',
				width:130,
				type:'password',
				field:'password',
				gridShow:false
			}
		],
		grid:{
			dataUrl:'list.do',
			singleSelect:false,
			idField:'id',
			title:'users',
			toolbars:[
				{
					text:'test',
					handler:function(){
						location.href="forward.do?name=create";
					}
				}
			]
		}
	});
});
</script>
</head>
<body>
success
<div>
	<table id="list"></table>
</div>
</body>
</html>