<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>User Manager</title>
<link rel="stylesheet" type="text/css" href="http://10.36.128.190:8080/agiledev/resources/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="http://10.36.128.190:8080/agiledev/resources/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="http://10.36.128.190:8080/agiledev/resources/agiledev/style/agiledev.css">
<link rel="stylesheet" type="text/css" href="http://10.36.128.190:8080/agiledev/resources/agiledev/style/agiledev-crud.css">
<link rel="stylesheet" type="text/css" href="http://10.36.128.190:8080/agiledev/resources/agiledev/style/agiledev-form.css">
<link rel="stylesheet" type="text/css" href="http://10.36.128.190:8080/agiledev/resources/agiledev/plupload/css/plupload.queue.css">


<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/easyui/jquery-1.6.min.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/agiledev/i18n/zh_CN.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/easyui/jquery.easyui.validation.custom.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/agiledev/jquery.ui.core.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/agiledev/jquery.ui.widget.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/agiledev/upload.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/agiledev/form.js"></script>
<script type="text/javascript" src="http://10.36.128.190:8080/agiledev/resources/agiledev/crud.js"></script>
<script>
$(function(){
	
	
});		
</script>
</head>
<body>
<table id="list"></table>
</body>
</html>